:root {
	--primary-brand: #4d5ae5;
	--pressed-state: #404bbf;
	--dark: #2e2f42;
	--success: #31d0aa;
	--text: #434455;
	--subtle-text: #8e8f99;
	--accent: #e7e9fc;
	--light: #f4f4fd;
	--background-color-primary: #ffffff;
	--header-padding: 24px 0;
	--horizontal-gap: 24px;
}
body {
	max-width: 1440px;
	color: var(--text);
	background-color: var(--background-color-primary);
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}
ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
/* ----------------Container---------------- */
.container {
	width: 1158px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
.section {
	padding-top: 120px;
	padding-bottom: 120px;
}
.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 72px;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/*----------------- header------------- */

.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--dark);
	padding: var(--header-padding);
}
.header {
	border-bottom: 1px solid var(--accent);
}
.header-container {
	display: flex;
}
.nav {
	display: flex;
}
.site-nav {
	display: flex;
	margin-left: 76px;
	gap: 40px;
}
.site-nav .current {
	color: var(--pressed-state);
}
.accent-logo {
	color: var(--primary-brand);
}
.link-nav {
	font-weight: 500;
	color: var(--dark);
	padding: var(--header-padding);
	display: block;
}
.link-nav:hover,
.link-nav:focus {
	color: var(--pressed-state);
}
.address {
	margin-left: auto;
}
.contact {
	display: flex;
	gap: 40px;
}
.contact-link {
	font-style: normal;
	color: var(--text);
	display: block;
	padding: var(--header-padding);
}
.contact-link:hover,
.contact-link:focus {
	color: var(--pressed-state);
}
/* ----------------hero------------------ */
.hero {
	text-align: center;
	background-color: #2e2f42;
	padding-top: 188px;
	padding-bottom: 188px;
	background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.hero-title {
	max-width: 496px;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	color: var(--background-color-primary);
	margin-bottom: 48px;
	margin-left: auto;
	margin-right: auto;
}
.hero-btn {
	font-family: inherit;
	font-size: 16px;
	text-align: center;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: 0.04em;
	color: var(--background-color-primary);
	background: #4d5ae5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-color: transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	display: inline-block;
	padding: 16px 32px;
	min-width: 169px;
}
.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--pressed-state);
	border-color: transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*------------- advantages section----------*/

.advantages-list {
	display: flex;
	gap: var(--horizontal-gap);
}
.advantages-tumb {
	min-width: 100%;
	min-height: 112px;
	margin-bottom: 8px;
	background-color: var(--light);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.advantages-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--dark);
	margin-bottom: 8px;
}
.employment {
	padding-top: 0;
}
.employment-title {
	color: var(--dark);
}
.employment-list {
	display: flex;
	gap: var(--horizontal-gap);
}
.employment-item {
	width: calc(100% / 3 - var(--horizontal-gap));
}
/* team section */
.team {
	background-color: var(--light);
}
.team-list {
	display: flex;
	gap: var(--horizontal-gap);
}
.team-item {
	width: calc(100% / 4 - var(--horizontal-gap));
	max-height: 428px;
	background-color: var(--background-color-primary);
	text-align: center;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.team-item > p {
	margin-bottom: 8px;
}
.team-title {
	color: var(--dark);
}
.team-player {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--dark);
	padding-top: 32px;
	margin-bottom: 8px;
}
.social-list {
	display: flex;
	gap: 24px;
	justify-content: center;
	padding-bottom: 32px;
}
.social-link {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-brand);
	border-radius: 50%;
}
.social-link:hover,
.social-link:focus {
	background-color: var(--pressed-state);
}

/* ------------------Customers section----------------------- */
.customers {
	padding-top: 130px;
}
.customers-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}
.customers-tumb {
	min-width: 168px;
	min-height: 88px;
	color: var(--subtle-text);
	border: 1px solid var(--subtle-text);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.customers-tumb:focus,
.customers-tumb:hover {
	color: var(--pressed-state);
	border-color: var(--pressed-state);
}
.customers-icon {
	fill: currentColor;
}
/* footer */
.footer {
	background-color: var(--dark);
	padding-top: 100px;
	padding-bottom: 100px;
}
.footer-container {
	display: flex;
}
.footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--light);
	display: block;
	margin-bottom: 16px;
}
.footer-text {
	color: var(--accent);
	max-width: 264px;
}
.footer-title {
	font-size: 16px;
	font-weight: 500;
	color: var(--background-color-primary);
	margin-bottom: 16px;
}
.footer-social {
	margin-left: 120px;
}
.footer-icon-list {
	display: flex;
	justify-content: center;
	gap: 16px;
}
.footer-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-link:hover,
.footer-social-link:focus {
	background-color: var(--success);
}

/* --------------------portfolio.html----------------------- */
.filtr-list {
	display: flex;
	gap: var(--horizontal-gap);
	justify-content: center;
	margin-bottom: 72px;
}
.filtr-btn {
	font-family: inherit;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: 0.04em;
	color: var(--primary-brand);
	background-color: var(--light);
	border: 1px solid var(--accent);
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	padding: 12px 24px;
}
.filtr-btn:hover,
.filtr-btn:focus {
	color: var(--background-color-primary);
	background-color: var(--pressed-state);
	border-color: var(--pressed-state);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio {
	padding-top: 96px;
}
.portfolio-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--dark);
	margin-bottom: 8px;
}
.card-set {
	display: flex;
	flex-wrap: wrap;
	gap: 48px var(--horizontal-gap);
}
.card-item {
	flex-basis: calc(100% / 3 - var(--horizontal-gap));
}
.card {
	display: block;
}
.card:focus,
.card:hover {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-description {
	border: 1px solid var(--accent);
	padding: 32px 16px;
	border-top: 0;
}
.card > div > p {
	color: var(--text);
}
